@model IEnumerable<BachelorMVC.Models.Testbruker>
@{
    ViewData["Title"] = "About";
}


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            BrukerID
        </th>
        <th>
            E-mail
        </th>
        <th>
            Firma
        </th>
        <th>
            Godkjent
        </th>
        <th>
            Slett
        </th>
    </tr>


    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.user_id
        </td>
        <td>
            @item.email
        </td>
        <td>
            Her skal det stå firma
        </td>
        <td>

            
            @if (@item.user_metadata.nickname == "0")
            {
                @Html.ActionLink("Ikke godkjent", "setGodkjent", "Home", new { id = item.user_id }, null)
            }
            else
            {
                @Html.Label("Godkjent");
            }
        </td>
        <td>
            <button>@Html.ActionLink("Slett", "Remove", "Home", null)</button>
        </td>
    </tr>
    }

</table>
