@model IEnumerable<BachelorMVC.Models.Bruker>

@{
    Layout = "_adminSignedIn";
}

@{
    ViewData["Title"] = "Brukere";
}
<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>


<h2>@ViewData["Title"].</h2>

<p>Liste over alle brukere.</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            BrukerID
        </th>
        <th>
            E-mail
        </th>
        <th>
            Firma
        </th>
        <th>
            Godkjent
        </th>
        <th>
            Slett
        </th>
        <th>
            Sendte Signeringer
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.user_id
            </td>
            <td>
                @item.email
            </td>
            <td>

                @using (Html.BeginForm("oppdaterFirma", "Account", FormMethod.Post))
                {
                    <input type="text" name="firmaNavn" id="firmaNavn" value="@item.user_metadata.firma"/>
                    <input type="hidden" name="idBruker" id="idBruker" value="@item.user_id"/>
                    <button onlick="oppdaterFirmaNavn" type="submit">
                        <i class="fas fa-check"></i>
                    </button>
                }

                
            </td>
            
                @if(@item.user_metadata.nickname == "0") {
                    <td>
                        @Html.ActionLink("Ikke godkjent", "setGodkjent", "Account", new { id = item.user_id }, null) 
                    </td>
                } else {
                    <td>
                        Godkjent
                    </td>
                }
            <td>
                <button>@Html.ActionLink("Slett", "deleteUser", "Account", new { id = item.user_id , view = "AdminAlleBrukere"}, null)</button>
            </td>
            <td>
                @item.user_metadata.antallSigneringer
            </td>
        </tr>
    }

</table>

<script>

    function oppdaterFirmaNavn() {
        var nyttFirma = document.getElementById("firmaNavn").value;
        document.getElementById("firmaNavn").innerHTML = nyttFirma;
    }
    
</script>

