@model IEnumerable<BachelorMVC.Models.Testbruker>

@{
    Layout = "_adminSignedIn";
}

@{
    ViewData["Title"] = "Brukere";
}

@if (User.Claims.Count() == 0)
{
    <h2>Error</h2>

}
else
{
    <h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>

}


<h2>@ViewData["Title"].</h2>


<p>Liste over ikke godkjente brukere.</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            BrukerID
        </th>
        <th>
            E-mail
        </th>
        <th>
            Firma
        </th>
        <th>
            Godkjent
        </th>
        <th>
            Slett
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.user_id
            </td>
            <td>
                @item.email
            </td>
            <td>
                @item.user_metadata.firma
            </td>
            <td>
                @Html.ActionLink("Ikke godkjent", "setGodkjent", "Account", new { id = item.user_id }, null)
            </td>
            <td>
                <button>@Html.ActionLink("Slett", "deleteUser", "Account", new { id = item.user_id , view = "AdminUserListForm"}, null)</button>
            </td>
        </tr>
    }

</table>