@model IEnumerable<BachelorMVC.Models.Bruker>

@{
    Layout = "_adminSignedIn";
}

@{
    ViewData["Title"] = "Brukere";
}
<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>


<h2>@ViewData["Title"].</h2>

<p>Liste over alle brukere.</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            BrukerID
        </th>
        <th>
            E-mail
        </th>
        <th>
            Firma
        </th>
        <th>
            Godkjent
        </th>
        <th>
            Slett
        </th>
        <th>
            Sendte Signeringer
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserID
            </td>
            <td>
                @item.Email
            </td>
            <td>

                @using (Html.BeginForm("oppdaterFirma", "Account", FormMethod.Post))
                {
                    <input type="text" name="firmaNavn" id="firmaNavn" value="@item.UserMetadata.Firma" />
                    <input type="hidden" name="idBruker" id="idBruker" value="@item.UserID" />
                    <button onlick="oppdaterFirmaNavn" type="submit">
                        <i class="fas fa-check"></i>
                    </button>
                }


            </td>

            @if (@item.UserMetadata.Godkjent == "0")
            {
                <td>
                    @Html.ActionLink("Ikke godkjent", "setGodkjent", "Account", new { id = item.UserID }, null)
                </td>
            }
            else
            {
                <td>
                    Godkjent
                </td>
            }
            <td>
                <button>@Html.ActionLink("Slett", "deleteUser", "Account", new { id = item.UserID, view = "AdminAlleBrukere" }, null)</button>
            </td>
            <td>
                @item.UserMetadata.AntallSigneringer
            </td>
        </tr>
    }

</table>

<script>

    function oppdaterFirmaNavn() {
        var nyttFirma = document.getElementById("firmaNavn").value;
        document.getElementById("firmaNavn").innerHTML = nyttFirma;
    }

</script>

