@model IEnumerable<BachelorMVC.Models.Testbruker>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
﻿<link rel="stylesheet" type="text/css" href="~/css/InnloggetStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/site.css">

<script src="~/js/userform.js"></script>
@{
    Layout = "_signedInLayout";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/js/signeringseventer.js"></script>
<section class="main-content">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron text-center">
                <h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form id="file-upload-form" enctype="multipart/form-data" method="post">
                    <input type="file" id="input-upload" value="Velg dokument for signering">
                    <label for="input-upload" id="label-input-upload">
                        <span class="btn btn-primary btn-lg" id="transit-status">Velg dokument for signering</span>
                    </label>
                    <img hidden id="transit-status-icon" src="~/images/green_tick.png" />
                </form>
            </div>
        </div>


        <form id="create-sign-request-form">
            <div class="row">
                <div class="col-lg-12 col-md-12">



                    <div id="navn-signeringsoppdrag">
                        <input placeholder="Navn: f.eks: Boligkontrakt (Valgfri)" class="textfield" type="text" id="case-navn" />
                    </div>

                    <div id="radio-buttons-signaturetypes" class="radio-buttons-signaturetypes">
                        <span>E-Signatur</span>
                        <input type="radio" class="sign-method-radio" value="electronicid" name="sign-method" />
                        <span>Elektronisk penn</span>
                        <input type="radio" class="sign-method-radio" value="touch" name="sign-method" />
                        <span id="link-learn-more" onclick="ShowModalLearnMore()"><a href="#">Lær mer</a></span>
                    </div>

                    <div id="learn-more" hidden>
                        <p>Info om e-signatur</p>
                        <p>Info om elektronisk penn</p>
                    </div>


                    <div id="self-sign" class="radio-buttons-signaturetypes">
                        <span>Signere selv?</span>
                        <input type="checkbox" id="signere-selv">
                    </div>

                    <div id="buttons-members">
                        <input class="btn btn-primary btn-lg green" type="button" onclick="addInput()" value="Legg til medlemmer" />
                        <input class="btn btn-primary btn-lg red" type="button" onclick="removeLastInput()" value="Fjern medlem" />
                        <div class="flex-container">
                            <span style="width:100%;" id="EmailsForSigning"> </span>
                        </div>
                    </div>

                    <span id="button-create-signevent-container"><input class="submitButton" id="button-create-signevent" type="button" onclick="OpprettSigneringsOppdrag('@Url.Action("OpprettCaseOgSendEpost", "Home")')" value="Send"/></span>
                </div>
            </div>
        </form>
    </div>
</section>

<!--
<dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }

        <dd> @ViewBag.testtext</dd>
    </dl>
-->



<!--##################################
    todo: flytt til ekstern .js -->
<script>
    $(document).ready(function () {

        
        $("#input-upload").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("input-upload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("input-upload").files[i];
                formData.append("input-upload", file);
            }

            $.ajax({
                type: "POST",
                url: '/Home/Upload',
                data: formData,
                contentType: false,
                processData: false,
                complete: function (data) {
                    $("#transit-status").html("Dokument er klar");
                    $('#transit-status-icon').show();
                    $('#transit-status').hover(
                        function() {
                            let $this = $(this);
                            $this.data('Dokument er klar', $this.text());
                            $this.text("Velg dokument for signering");
                        },
                        function() {
                            let $this = $(this);
                            $this.text($this.data('Dokument er klar'));
                        },
                    );
                    document.getElementById("button-create-signevent").disabled = false;

                }
            });
        });
    })

/*
$("#button-create-signevent-container").click(function() {
    alert( "Handler for .click() called." );
  });*/
</script>