<link rel="stylesheet" type="text/css" href="~/css/InnloggetStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/UserForm.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/js/signeringseventer.js"></script>




<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>

<form id="file-upload-form" enctype="multipart/form-data" method="post">
    <p>Velg fil for opplasting</p>
    <input type="file" id="imageUploadForm" value="Velg dokument for signering">
    <label for="imageUploadForm" id="label-imageUploadForm">
        <span id="upload-description">Velg dokument for signering</span>
    </label>
    <div id="transit-status">Test</div>
</form>



<form id="create-sign-request-form">

    <p>Gi signeringsoppdraget et navn</p>
    <input type="text" id="case-navn" />
    <input type="radio" name="sign-method-radio" value="esignatur" />
    <input type="radio" name="sign-method-radio" value="touch" />
    <input type="button" onclick="addInput()" value="Legg til medlemmer" />
    <input type="button" onclick="removeLastInput()" value="Fjern medlem" />
    <div class="flex-container">
        <span id="EmailsForSigning"> </span>
    </div>

    <input type="button" onclick="OpprettSigneringsOppdrag('@Url.Action("OpprettCaseOgSendEpost", "Home")')" value="Send" />


</form>

 


@*<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }

    <dd> @ViewBag.testtext</dd>
</dl>*@
<script>

    $(document).ready(function () {
        alert("ready");
        $("#imageUploadForm").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadForm").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUploadForm").files[i];
                formData.append("imageUploadForm", file);
            }

            $.ajax({
                type: "POST",
                url: '/Home/Upload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                complete: function (data) {
                    $("#transit-status").html("Dokument ble sendt");

                }
            });
        });
    })

    

    //Variabler for å holde informasjon om antall bokser
    var AntallMedlemmer = 1;
    var boxName = 0;

    //Funksjon for å slette sist lagt inn input felt
    function removeLastInput() {
        var test = document.getElementById('EmailsForSigning');
        var childNode = test.lastChild;
        test.removeChild(childNode);
        AntallMedlemmer -= 1;
    }

     //Funksjon for å legge til ny input felt for emails
 function addInput() {
    if (AntallMedlemmer == 0) {
        AntallMedlemmer = 1;
    }
    var boxName = "Email " + AntallMedlemmer;
    document.getElementById('EmailsForSigning').innerHTML += '<input class="inputFields" type="text" tag="epost" id="' + AntallMedlemmer + '"/>';
    AntallMedlemmer += 1;
}

</script>