<link rel="stylesheet" type="text/css" href="~/css/InnloggetStyle.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>




<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>



<form>

    <p>Velg fil for opplasting</p>
    <input type="file" id="myFile">
    
    <p>Gi signeringsoppdraget et navn</p>
    <input type="text" id="case-navn" />

    <input type="button" onclick="addInput()" value="Legg til medlemmer" />
    <input type="button" onclick="removeLastInput()" value="Fjern medlem" />
    <div class="flex-container">
        <span id="EmailsForSignering"> </span>
        
    </div>

    <input type="button" onclick="submitMembers()" value="Send" />


</form>

@*<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }

    <dd> @ViewBag.testtext</dd>
</dl>*@
<script>

    //Variabler for å holde informasjon antall bokser
    var AntallMedlemmer = 1;
    var boxName = 0;

    //Funksjon for å legge til ny input felt for emails
    function addInput() {
        if (AntallMedlemmer == 0) {
            AntallMedlemmer = 1;
        }
        var boxName = "Email " + AntallMedlemmer;
        document.getElementById('EmailsForSignering').innerHTML += '<input class="inputFields" type="text" tag="epost" id="' + AntallMedlemmer + '"/>';
        AntallMedlemmer += 1;
    }

    //Funksjon for å slette sist lagt inn input felt
    function removeLastInput() {
        var test = document.getElementById('EmailsForSignering');
        var childNode = test.lastChild;
        test.removeChild(childNode);
        AntallMedlemmer -= 1;
    }

    //Funksjon for å legge til medlemmer
    function submitMembers() {
        var fields = document.getElementById('EmailsForSignering').childNodes;
        var url = '@Url.Action("OpprettCaseOgSendEpost", "Home")';

        //Ta imot navn på signeringsoppdrag
        let navn = document.getElementById('case-navn').value;

        //Ta imot eposter
        var emails = "";
        for (var i = 1, len = fields.length; i < len; i++) {
                emails += fields[i].value + ",";
        }

        alert(emails);


        //Send oppdrag til backend
    $.ajax({
        type: 'POST',
        data: { epost: emails, navn: navn },
        dataType: 'json',
        url: url,
        traditional: true,
        success: function (data) {
            alert("sendt");
         },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
        }

        });
 
        }

</script>