﻿<link rel="stylesheet" type="text/css" href="~/css/InnloggetStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/UserForm.css">
<script src="~/js/userform.js"></script>
@{
    Layout = "_signedInLayout";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/js/signeringseventer.js"></script>
<section class="main-content">
<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>

<form id="file-upload-form" enctype="multipart/form-data" method="post">
    <input type="file" id="input-upload" value="Velg dokument for signering">
    <label for="input-upload" id="label-input-upload">
        <span id="upload-description">Velg dokument for signering</span>
    </label>
    <div id="transit-status">Resultat av sending</div>
</form>


<form id="create-sign-request-form">
    
    <div id="navn-signeringsoppdrag">
        <p>Gi signeringsoppdraget et navn</p>
        <input type="text" id="case-navn" />
    </div>
    
    <div id="radio-buttons-signaturetypes" class="radio-buttons-signaturetypes">
        <span>E-Signatur</span>
        <input type="radio" class="sign-method-radio" value="electronicid" name="sign-method"/>
        <span>Elektronisk penn</span>
        <input type="radio" class="sign-method-radio" value="touch" name="sign-method"/>
    </div>

    <div id="self-sign">
        <span>Signere selv?</span>
        <input type="checkbox" id="checkbox-self-sign">
    </div>
    
    <div id="buttons-members">
        <input type="button" onclick="addInput()" value="Legg til medlemmer" />
        <input type="button" onclick="removeLastInput()" value="Fjern medlem" />
    <div class="flex-container">
        <span id="EmailsForSigning"> </span>
    </div>
    </div>
    
    
    
    <input type="button" id="button-create-signevent" onclick="OpprettSigneringsOppdrag('@Url.Action("OpprettCaseOgSendEpost", "Home")')" value="Send" disabled/>
</form>

 </section>


@*<dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }

        <dd> @ViewBag.testtext</dd>
    </dl>*@




<!--##################################
    todo: flytt til ekstern .js -->
<script>
    $(document).ready(function () {
        alert("Dokument er klar, ingen feil");
        $("#input-upload").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("input-upload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("input-upload").files[i];
                formData.append("input-upload", file);
            }

            $.ajax({
                type: "POST",
                url: '/Home/Upload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                complete: function (data) {
                    $("#transit-status").html("Dokument ble sendt");
                    document.getElementById("button-create-signevent").disabled = false;

                }
            });
        });
    })

</script>